body {
    background-color: #434343;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#name {
    font-family: "Berlin Sans FB";
    font-weight: normal;
    margin-left: 40px;
    color: #fff;
}

#function {
    font-family: "Berlin Sans FB";
    font-weight: normal;
    margin-top: -20px;
    margin-left: 70px;
    color: #ffd800;
}

#personal_info {
    width: fit-content;
}

#personal_info:hover {
    cursor: pointer;
    animation: onit ease-out 0.6s forwards;
}


/*nav*/

.nav {
    animation: formUp ease-out 1s forwards;
}

ul {
    list-style-type: none;
    margin-left: 8cm;
    margin-top: -2cm;
    padding: 0;
    overflow: hidden;
    background-color: #434343;
}

li {
    float: left;
}

li a {
    font-family: "Berlin Sans FB";
    font-size: 24px;
    display: block;
    color: #ffd800;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    transition: background .2s ease-out;
    animation: onit ease-out 0.6s forwards;
}

.active {
    background-color: #ffd800;
    color: #434343;
}

.active:hover {
    background-color: #000000;
    color: #ffd800;
    transition: background .2s ease-out;
    animation: onit ease-out 0.6s forwards;
}


/*body*/

#my_photo {
    color: #ffd800;
    margin-left: 150px;
    margin-top: 40px;
    animation: formRight 1s forwards;
}

.discription {
    animation: formLeft 1s forwards;
}

#hellow {
    font-family: "Berlin Sans FB";
    font-size: 70px;
    color: #ffd800;
    margin-left: 600px;
    margin-top: -350px;
}

#about {
    color: #fff;
    font-family: "Berlin Sans FB";
    font-size: 40px;
    margin-top: -70px;
    margin-left: 600px;
}

.hed {
    text-align: left;
}

.bottoms {
    color: #434343;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15cm;
}

#yollo,
#blue,
#red {
    cursor: pointer;
    border: none;
    font-family: "Berlin Sans FB";
    margin-left: 40px;
    color: #434343;
    font-size: 24px;
    width: 125px;
    height: 125px;
    background-color: #ffd800;
    border-radius: 100%;
}

#yollo:hover,
#blue:hover,
#red:hover {
    background-color: #000000;
    color: #ffd800;
    transition: background .2s ease-out;
    animation: onit ease-out 0.6s forwards;
}

#intro {
    margin-left: 600px;
    font-family: "Berlin Sans FB";
    font-size: larger;
    color: #fff;
}


/*end and contant*/

.contact {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 60px;
    background-color: #ffd800;
}

#email,
#facebook,
#phone,
#github {
    color: #434343;
    width: fit-content;
    display: inline-block;
    padding-inline: 80px;
}

#email,
#facebook,
#phone,
#github :hover {
    cursor: pointer;
}

#email-link,
#facebook-link,
#phone-link,
#github-link {
    margin: 0px;
    font-family: Berlin Sans FB;
    color: #434343;
}


/* some key freams */

@keyframes onFocs {
    0% {
        width: 200px;
    }
    100% {
        width: 400px;
    }
}

@keyframes onit {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.2, 1.2);
    }
}

@keyframes formUp {
    0% {
        opacity: 0;
        transform: translateY(-90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes formLeft {
    0% {
        opacity: 0;
        transform: translateX(-90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes formRight {
    0% {
        opacity: 0;
        transform: translateX(90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
