body {
    background-color: #434343;
}

#name {
    font-family: "Berlin Sans FB";
    font-weight: normal;
    margin-left: 40px;
    color: #fff;
}

#function {
    font-family: "Berlin Sans FB";
    font-weight: normal;
    margin-top: -20px;
    margin-left: 70px;
    color: #ffd800;
}

#icons {
    margin-top: 60px;
    background-color: #ffd800;
    height: 100px;
    width: auto;
}

#email {
    margin-top: 20px;
    margin-left: 2cm;
}

#facebook {
    margin-top: 20px;
    margin-left: 5cm;
    margin-right: 7cm;
}

#github {
    margin-top: 20px;
    margin-left: 7cm;
    margin-right: 7cm;
}

#whatsapp {
    margin-top: 20px;
    margin-left: 7cm;
}

a {
    font-family: "Berlin Sans FB";
    color: #434343;
}

#elink {
    margin-left: 3.5cm;
}

#whats {
    margin-left: 3.25cm;
}

#facebook_linl {
    margin-left: 3.75cm;
}

#githuplink {
    margin-left: 5cm;
}

#my_photo {
    color: #ffd800;
    margin-left: 150px;
    margin-top: 40px;
}

#links {
    margin-top: -1.75cm;
}

#hellow {
    font-family: "Berlin Sans FB";
    font-size: 70px;
    color: #ffd800;
    margin-left: 600px;
    margin-top: -350px;
}

#about {
    color: #fff;
    font-family: "Berlin Sans FB";
    font-size: 40px;
    margin-top: -70px;
    margin-left: 600px;
}

.hed {
    text-align: left;
}

.bottoms {
    color: #434343;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15cm;
}

#yollo,
#blue,
#red {
    cursor: pointer;
    border: none;
    font-family: "Berlin Sans FB";
    margin-left: 40px;
    color: #434343;
    font-size: 24px;
    width: 125px;
    height: 125px;
    background-color: #ffd800;
    border-radius: 100%;
}

#yollo:hover {
    background-color: #000000;
    color: #ffd800;
}

#blue:hover {
    background-color: #000000;
    color: #ffd800;
}

#red:hover {
    background-color: #000000;
    color: #ffd800;
}

#intro {
    margin-left: 600px;
    font-family: "Berlin Sans FB";
    font-size: larger;
    color: #fff;
}

ul {
    list-style-type: none;
    margin-left: 8cm;
    margin-top: -2cm;
    padding: 0;
    overflow: hidden;
    background-color: #434343;
}

li {
    float: left;
}

li a {
    font-family: "Berlin Sans FB";
    font-size: 24px;
    display: block;
    color: #ffd800;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #ffd800;
    color: #434343;
}

.active:hover {
    background-color: #000000;
    color: #ffd800;
}